{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
    <section class="login-page">
        <h2>Zaloguj się</h2>
        {% if user_is_active_now %}
            <h3>{{ user_is_active_now }}</h3>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="username" placeholder="Email"/>
                <p>{{ form.username.errors }}</p>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Hasło"/>
                <p>{{ form.password.errors }}</p>
                <a href="{% url 'users_app:password_reset_by_email_view' %}" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
            </div>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="form-group form-group--buttons">
                <a href="{% url 'users_app:register_view' %}" class="btn btn--without-border">Załóż konto</a>
                <button class="btn" type="submit">Zaloguj się</button>
            </div>
        </form>
        {{ form.non_field_errors }}
        {{ user_is_not_active }}
    </section>
{% endblock %}
