{% extends 'base.html' %}
{% load static %}

{% block title %}Reset hasła formularz{% endblock %}
{% block content %}
    <section class="login-page">
        <h2>Wprowadź nowe hasło</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for text in password_help_text %}
                    <p>{{ text }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <input type="password" name="new_password1" placeholder="Nowe hasło"/>
                <p>{{ form.new_password1.errors }}</p>
                <p>{{ form.new_password1.help_text }}</p>
            </div>
            <div class="form-group">
                <input type="password" name="new_password2" placeholder="Powtórz nowe hasło"/>
                <p>{{ form.new_password2.errors }}</p>
                <p>{{ form.new_password2.help_text }}</p>
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Zapisz</button>
            </div>
        </form>
        <p>{{ passwords_dont_match }}</p>
        {% for validation_error in validations_errors %}
            <p>{{ validation_error }}</p>
        {% endfor %}
    </section>
{% endblock %}
