{% extends 'base.html' %}
{% load static %}

{% block title %}Reset hasła{% endblock %}
{% block content %}
    <section class="login-page">
        <h2>Wprowadź email, na który zostanie wysłana wiadomość z linkiem do zresetowania hasła</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" placeholder="Email"/>
                <p>{{ form.email.help_text }}</p>
                <p>{{ form.email.errors }}</p>
                <p>{{ email_does_not_exist_in_db }}</p>
            </div>
            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Wyślij!</button>
            </div>
        </form>
    </section>
{% endblock %}
