{% extends 'base.html' %}
{% load static %}

{% block title %}Rejestracja{% endblock %}
{% block content %}
    <section class="login-page">
        <h2>Załóż konto</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="first_name" placeholder="Imię"/>
                    <p>{{ form.first_name.errors }}</p>
            </div>
            <div class="form-group">
                <input type="text" name="last_name" placeholder="Nazwisko"/>
                    <p>{{ form.last_name.errors }}</p>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email"/>
                    <p>{{ form.email.errors }}</p>
                    <p>{{ form.email.help_text }}</p>
            </div>
            <div class="form-group">
                <input type="password" name="password1" placeholder="Hasło"/>
                    <p>{{ form.password1.errors }}</p>
                    <p>{{ form.password1.help_text }}</p>
            </div>
            <div class="form-group">
                <input type="password" name="password2" placeholder="Powtórz hasło"/>
                    <p>{{ form.password1.errors }}</p>
            </div>

            <div class="form-group form-group--buttons">
                <a href="{% url 'users_app:login_view' %}" class="btn btn--without-border">Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>
{% endblock %}
